.mainDiv{
    background-image: url('../images/background.png');
    background-size:contain;
    }

.heading{
	margin:auto;
    padding: .5rem;
	background-color:white;
	font-size: 2vw;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.customer{
	padding:2% 0.5% 1.5% 0.5%;
	height: 100%;
}

.receipt-gen{
	padding:2% 0.5% 1.5% 0.5%;
	height:100%;
}

.tools{
	padding:2%;
    font-weight:600;
    font-size:2vmax;
    height: fit-content;
}

#profile{
	height: 33%;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
    background-position: left top;
    margin-left: 4%;
    margin-top:50%;

}
.customerButton{
    padding:5px;
    border:0;
    width:90%;
    margin-left:8%;
    background-color:red;
    color:#123503;
    background-image:url('../images/buttonlong.png');
}

.submitButton{
        border:0;
        margin: auto;
        background-image:url('../images/buttonMedium.png');
        background-color: transparent;
        background-size: 100% 100%;
        color: green;
        width: 30%;
        height: 7%;
        padding: 3.5%;
        text-align:center;
       }

.helpButton{
           border:0;
           margin-left:40%;
          }

#profile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.photo{
	height: 100%;
	width: 100%;
}

#order{
	height: 92%;
	width: 100%;
	position: relative;
}
#orderList{
    	height: 60%;
    	width: 100%;
        background-size: 100% 100%;
        background-image: url(../images/redbgsellorder.png);
        overflow: auto;
        background-color: white;
        font-weight: bold;
        padding: 8% 8%;
        position: absolute;
        bottom: 0px;
}
.items{
font-size: 110%;
}
.receipt{
         	height: 92%;
         	width: 100%;
            position: relative;

}

.receiptSale{
    background-image: url(../images/redbgsellreceipt.png);
        background-size: 100% 100%;
            padding: 4% 6%;
    	height: 85%;
    	width: 100%;
	background-color: white;
	font-weight: bold;
    position: absolute;
    bottom: 0px;
}

#title{
	text-align: center;
	margin: auto;
	font-size: 1.5vw;
	font-weight: bold;
}

#bill{
	margin-top:4%;
	margin-left:4%;
	height: 85%;
	width: 92%;
	overflow:auto;
}

#bill table{
	text-align: center;
}

td{
	position: relative;
}

tr.strikeout td:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    border-top: .1vw solid #ff0000;
    width: 100%;
}

.amount{
	width:6vw;
	height:1.6vw;
}

.table.table-bordered{
	margin-bottom: 0;
}

#rateCard{
    border: .7rem solid black;
    height:28%;
    width: 37%;
    position: absolute;
    left:5%;
    margin-top: 5%;
    padding: 2% 0% 1% 1%;
    background-color: white;
}
#inventory{
    border: .7rem solid black;
    height:28%;
    width: 37%;
    position: absolute;
    left:46%;
    margin-top: 5%;
    padding: 2% 0% 1% 1%;
    background-color: white;
}
#inventoryList, #rateList{
	margin-top: 2%;
	padding-top: .3vw; 
	height: 85%;
    overflow: auto; 
}
#inventory, #rateCard, #order, #bill th{
	font-size: 1.2vw;
}

#inventoryList, #rateList, #orderList, #bill{
	font-size: 1vw;
}

#orderList td, #inventoryList td, #rateList td {
	white-space: nowrap;
}

#order:hover, #rateCard:hover, #inventory:hover, #bill:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#minutes{
	left: 37%;
}
#seconds{
	left: 55%;
}

#colon{
	left:51%;
	top:69%;
	position: absolute;
	font-size: 5%;
	color: #e5e6e8;
}

#minutes, #seconds{

	border: .1vw solid black;
	background-color: #e5e6e8;
	box-shadow: 2px 3px #999;
	border-radius: 5px;
	font-size: 3vw;
	text-align: center;
}
#help{
	left: 37%;
	
}
#done{
	left: 55%;
}
.butt{
	position: absolute;
	top: 85%;
	height: 11%;
	width: 14%;
	border: .05vw solid #505050;
	border-radius: 5px;
	background-color: #e5e6e8;
	cursor :pointer;
	box-shadow: 2px 3px #999;
}

.butt:active {
 
  box-shadow: 1px 2px #a4a4a5;
  transform: translateY(3px) translateX(2px);;

}

.salesScreenTitle{
    position:absolute;
    top:4%;
    left:8%;
    padding:10px;
    font-weight:600;
    font-size: 2.5vmax;
    background-image:url('../images/sellstrip.png');
    background-size: 100% 100%;
    width:15%;
}



.salesIconContainer{
    width:7%;
    height:13%;
    top:3%;
    left:1%;
    position: absolute;
}

.gameLogoImage {
    position: absolute;
    top: 70%;
    left: 8px;
    width: 90%;
    height: 20%;
}