<div>
    <link rel="stylesheet" type="text/css" href="css/rollingDice.css" media="screen"/>
    <script src="rollDice.js"></script>
    <div class="scene">
        <div class="cube">
            <div class="cube_face_1">O</div>
            <div class="cube_face_2">O&ensp;O</div>
            <div class="cube_face_3">&emsp;&emsp;O<br>&ensp;&ensp;O<br>O</div>
            <div class="cube_face_4">O&ensp;&emsp;O<br><br>O&ensp;&emsp;O</div>
            <div class="cube_face_5">O&ensp;&emsp;O<br>&emsp; O<br>O&ensp;&emsp;O</div>
            <div class="cube_face_6">O&ensp;&emsp;O<br>O&ensp;&emsp;O<br>O&ensp;&emsp;O</div>
        </div>
        <div style="width:100%; text-align: center;">
            <button onclick="mainroll()">Roll it</button>
        </div>
    </div>
</div>
