<div id="splash">
	<link rel="stylesheet" type="text/css" href="css/splash.css"
		media="screen" />
	<script src="splash.js"></script>
	<!--Center align Splash contents in all screen sizes-->
	<div id="ubs_logo" class="split left">
		<div class="centered">
			<img src="images/decision-making.png" alt="app_icon"
				style="width: 150px; height: 150px" />
			<h2 style="color: white;">My Awesome App</h2>
		</div>

	</div>
	<div id="pratham_logo" class="split right">
		<div class="centered">
			<img src="images/decision-making.png" alt="app_icon"
				style="width: 150px; height: 150px" />
			<h2 style="color: white;">My Awesome App</h2>
		</div>
	</div>
</div>