.longButton{
  background:url('../images/button long.png');
  color: navy;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-size: 100% 100%;
  background-color: transparent;
  padding: 13px;
  padding-bottom: 14%;
  font-size: large;
  text-align: center;
  font-family: 'Open Sans', Arial, sans-serif;     font-weight: bold;     font-size: 1.3vmax;
  width: 120%;
}
